.serverTips{
    background-color: black;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 900;
    border-radius: 7px;
}

.serverTips[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: black;
}
.serverTips[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: black;
}


.contextMenu{

}
